.breadcrumb-container {
	position: relative;
}

.breadcrumb {
	//margin-bottom: 0;
	.breadcrumb-container & {
		position: absolute;
		//top: .5rem;
		left: 0.75rem;
	}

	li {
		font-weight: 600;
		&:after {
			//content: "";
			//@include bg-image();
			//background-image: url(../img/icons/breadcrumb.svg);
			//height: 0.87rem;
			//width: 0.43rem;
			//display: inline-block;
			//margin: 0 1rem;
			//position: relative;
			//top: 0.2rem;
		}
		&:last-child {
			&:after {
				//content: none;
			}
		}
		a {
			text-decoration: none;
			color: $cor-black;
			.active {
				opacity: 0.6;
			}
		}
	}
}
