.nav-link {
	.nav-tabs & {
		padding: 0.5rem 1.25em;
		border-radius: 5rem !important;
		margin: 0 0.25rem;
		@include media-breakpoint-up(md) {
			padding: 0.5rem 1.5rem;
		}
	}
	.faqs-accordion & {
		border-width: 1px;
		border-color: $cor-black !important;
		font-weight: $font-weight-bold;
		&:hover {
		}
		&.active {
			background: $cor-black;
			color: $cor-white;
		}
	}
}
