.chat-box  {

	ul {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: 10px;
			padding: 10px;
			border-radius: 20px;
			width: fit-content;
			max-width: 60%;

			&.current-user {
				background-color: $cor-primary; 
				color: white;
				margin-left: auto; 
				margin-right: 0;
			}

			&.other-user {
				background-color: #E0E0E0; 
				color: black;
				margin-right: auto; 
				margin-left: 0;
			}
		}
	}

    .fixed-size-image {
        width: 400px; // Ejemplo de ancho fijo
        height: 300px; // Ejemplo de alto fijo
        object-fit: cover; // Mantiene la relación de aspecto sin deformar la imagen
        border-radius: 50%; // Opcional: si quieres que todas las imágenes sean circulares
    }
}



