.header-top {
	font-size: 0.9375rem;
	@include media-breakpoint-up(xl) {
		font-size: 0.875rem;
	}

	.nav-item {
		display: flex;
		font-weight: $font-weight-semibold;

		&:after {
			padding: 0 $spacer * 1;
			content: "|";
		}

		&:last-child {
			&:after {
				content: none;
			}
		}
	}
}

header {
	* {
		//line-height: 1!important;
	}

	font-weight: $font-weight-semibold;
	.header-top {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.nav-tel {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		font-weight: $cor-nav-link-font-weight;
	}

	.navbar-nav {
		@include media-breakpoint-up(xl) {
			align-items: center;
		}
	}

	.dropdown {
		border-radius: 0;
		@include media-breakpoint-up(xl) {
			position: static !important;
		}

		&.open .dropdown-cta {
			@include media-breakpoint-up(xl) {
			}
		}
	}

	.dropdown-cta.show {
		background-color: $cor-cream;
		@include media-breakpoint-up(xl) {
			display: flex;
			justify-content: space-between;

			padding-top: $spacer * 4.5;
			padding-bottom: $spacer * 4.5;
			text-align: left;
			border-radius: 0;
			margin-top: 0;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
		}
	}

	.navbar-nav {
		font-size: $spacer * 1.5;
		//padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
		@include media-breakpoint-up(xl) {
			font-size: $spacer * 0.875;
		}
	}

	.nav-menu {
		list-style: none;
		text-align: left;
		@include media-breakpoint-up(xl) {
			display: flex;
			flex-flow: row wrap;
			li {
				width: 50%;

				&:last-child {
					//grid-column: span 6; /* El último hijo ocupa 50% del ancho */
					//grid-row: span 1; /* El último hijo ocupa 100% de la altura */
				}
			}
		}
	}

	.nav-menu {
		@include media-breakpoint-down(xl) {
		}
	}

	.nav-cta {
	}

	.offcanvas {
		background-color: $cor-cream;

		.offcanvas-body {
			@include media-breakpoint-down(xl) {
				//padding: 0;

				//    display: flex;
				//    flex-flow: column nowrap;
				//    justify-content: space-between;
			}
		}

		.navbar-nav {
			.nav-link {
				@include media-breakpoint-down(xl) {
					padding-top: $spacer * 1;
					padding-bottom: $spacer * 1;
				}
			}

			.nav-item {
				@include media-breakpoint-down(xl) {
					border-bottom: solid 1px rgba($cor-black, 0.3);
				}
			}

			.dropdown-menu {
				@include media-breakpoint-down(xl) {
					padding: $spacer * 0.75 0 $spacer * 1.75;
					margin: 0;
				}
			}

			.nav-menu {
				.nav-link {
					@include media-breakpoint-down(xl) {
						padding-top: $spacer * 0.75;
						padding-bottom: $spacer * 0.75;
					}
				}

				.nav-item {
					@include media-breakpoint-down(xl) {
						border-bottom: 0;
					}
				}
			}
		}

		//
		//a, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
		//  &:not(.btn) {
		//    color: $cor-white;
		//
		//    @include media-breakpoint-up(xl) {
		//      color: $cor-black;
		//    }
		//
		//    &:hover, &:focus {
		//      color: rgba($cor-white, .8);
		//      @include media-breakpoint-up(xl) {
		//        color: rgba($cor-black, .8);
		//      }
		//    }
		//  }
		//}
		//
		//.nav-border {
		//  .nav-item {
		//    margin-right: $spacer * .5;
		//  }
		//
		//  .nav-link {
		//
		//    &.active {
		//      @include media-breakpoint-up(xl) {
		//        color: $cor-black;
		//      }
		//
		//      &:after {
		//        @include media-breakpoint-up(xl) {
		//          content: "";
		//          height: 4px;
		//          width: 113%;
		//          background: $cor-black;
		//          position: absolute;
		//          bottom: 0;
		//          left: 50%;
		//          right: 50%;
		//          transform: translate(-50%, -50%);
		//        }
		//      }
		//    }
		//
		//    @include media-breakpoint-down(xl) {
		//      border-bottom: solid 1px $cor-black;
		//      padding: $spacer  * .5;
		//      margin-bottom: $spacer  * .2;
		//    }
		//    @include media-breakpoint-up(xl) {
		//      position: relative;
		//      color: $cor-secondary;
		//    }
		//
		//  }
		//
		//  .nav-item {
		//    &:last-child .nav-link {
		//      border: none;
		//    }
		//  }
		//}
		//
		//.dropdown-cta {
		//  @include media-breakpoint-down(xl) {
		//    background-color: transparent;
		//    padding: 0;
		//    margin: 0;
		//    border: 0;
		//  }
		//
		//  .dropdown-item:hover,
		//  .dropdown-item:focus {
		//    @include media-breakpoint-down(xl) {
		//      color: $cor-black;
		//    }
		//  }
		//}
	}

	//.dropdown-cta.show {
	//  @include media-breakpoint-up(xl) {
	//    margin-top: $spacer * 1;
	//    //border: none;
	//
	//  }
	//}
}
