.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	bottom: 2.5rem;
}
.swiper-pagination-bullet {
	background-color: $cor-white;
}
.swiper-pagination-bullet-active {
	background-color: $cor-white;
}
