@font-face {
    font-family: 'Matrice';
    src: url('../fonts/Matrice-Black.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: normal;
}

@font-face {
    font-family: 'Matrice';
    src: url('../fonts/Matrice-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Matrice';
    src: url('../fonts/Matrice-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* ExtraBold */
    font-style: normal;
}

@font-face {
    font-family: 'Matrice';
    src: url('../fonts/Matrice-ExtraLight.ttf') format('truetype');
    font-weight: 200; /* ExtraLight */
    font-style: normal;
}

@font-face {
    font-family: 'Matrice';
    src: url('../fonts/Matrice-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Matrice';
    src: url('../fonts/Matrice-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Matrice';
    src: url('../fonts/Matrice-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Matrice';
    src: url('../fonts/Matrice-Semibold.ttf') format('truetype');
    font-weight: 600; /* Semibold */
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Roman.otf') format('opentype');
    font-weight: normal; /* 400 */
    font-style: normal;
}
