body {
	// El footer siempre pegado abajo
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: clip;
	// FIN El footer siempre pegado abajo

	@include media-breakpoint-up(md) {}

	// Para eliminar del front el mensaje de que estamos en un sitio de desarrollo generado por WPML
	.otgs-development-site-front-end {
		display: none;
	}
}

main {
	overflow: clip; // funciona como un hidden pero puedes añadir sticky en los hijos
}

footer {
	// El footer siempre pegado abajo
	margin-top: auto;
	// FIN El footer siempre pegado abajo
}

/* Navbar */
.nav-logo {
	height: 20px;
}

/*Footer*/
.h1-jumbo {
	font-size: 3.3rem;
}

/* Services Card - Esto seguramente tenga que cambiarlo*/
.services-img {
	aspect-ratio: 1/1;
	object-fit: cover;
	width: 100%;
	/* max-width: 150px; */
}

.projects-img {
	aspect-ratio: 1;
	object-fit: cover;
	width: 100%;
	border-radius: 20px;

	@include media-breakpoint-up(md) {
		aspect-ratio: 4/5;
	}
}

/* Typography - MATRICE */

.weight-black {
	font-family: 'Matrice', sans-serif;
	font-weight: 900;
}

.weight-extra-bold {
	font-family: 'Matrice', sans-serif;
	font-weight: 800;
}

.weight-bold {
	font-family: 'Matrice', sans-serif;
	font-weight: 700;
}

.weight-semi-bold {
	font-family: 'Matrice', sans-serif;
	font-weight: 600;
}

.weight-regular {
	font-family: 'Matrice', sans-serif;
	font-weight: 500;
}

.weight-semi-light {
	font-family: 'Matrice', sans-serif;
	font-weight: 400;
}

.weight-light {
	font-family: 'Matrice', sans-serif;
	font-weight: 300;
}

.weight-extra-light {
	font-family: 'Matrice', sans-serif;
	font-weight: 200;
}

/*Card hover*/
.image-hover-wrapper {
	position: relative;
	display: inline-block;

	.projects-img {
		width: 100%;
		border-radius: 0.5rem;
		transition: opacity 0.5s ease;
	}

	.hover-text {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity 0.5s ease;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		visibility: hidden;
		border-radius: 0.5rem;
	}

	&:hover {
		.projects-img {
			opacity: 0.7;
		}

		.hover-text {
			opacity: 1;
			visibility: visible;
		}
	}
}

/*Navbar*/
.navbar-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.navbar-hidden {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/*Alert Dialog*/

/* reset */
button {
	all: unset;
}

.AlertDialogOverlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	inset: 0;
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	z-index: 10000;
}

.AlertDialogContent {
	border-radius: 6px;
	box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 700px;
	max-height: 85vh;
	padding: 25px;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	z-index: 10000;
}

.AlertDialogContent:focus {
	outline: none;
}

.Button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}

	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

/*Dashboard Menu*/
.dashboard-menu {
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	height: 100vh;
	padding: 20px 50px;
}

/*FOOTER ANIMATION*/
.underline-animate {
	position: relative;
	cursor: pointer;
	display: inline-block;
	/* Ensures the span behaves correctly for positioning */
}

.underline-animate::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 8px;
	bottom: 12px;
	left: 4px;
	background-color: var(--bs-primary);
	transform: scaleX(0);
	transform-origin: bottom left;
	transition: transform 0.5s ease-in-out;
}

.underline-animate:hover::after {
	transform: scaleX(1);
}

#file-signup-input {
	position: relative;
	align-items: center;
	justify-content: center;
}

#file-signup-input:after {
	content: "Upload your image";
	align-items: center;
	justify-content: center;
	display: flex;
	width: 251px;
	height: 73px;
	position: absolute;
	background-color: $cor-black;
	color: $cor-cream;
	font-family: 'Matrice', sans-serif;
	font-weight: 600;
	top: 0;
	border-top-left-radius: 19px;
	border-bottom-left-radius: 19px;
	pointer-events: none;
	left: 0px;
}

/*USER PROFILE IMAGE*/
.user-image-container {
	position: relative;
	width: 100px;
	height: 100px;
	cursor: pointer;
	border-radius: 50%;
	overflow: hidden;

	img.user-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}

	&::after {
		content: "EDIT";
		position: absolute;
		font-family: 'Matrice', sans-serif;
		font-weight: 600;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5); // Fondo semitransparente para el texto
		color: $cor-cream;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0; // Inicialmente invisible
		transition: opacity 0.3s ease;
		border-radius: 50%; // Asegura que el overlay también tenga bordes redondeados
	}

	&:hover::after {
		opacity: 1; // Hace visible el texto al pasar el mouse
	}
}

/*CHAT CONTAINER*/

.chat-container {

	ul {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: 10px;
			padding: 10px;
			border-radius: 20px;
			width: fit-content;
			max-width: 60%; // Limita el ancho máximo para evitar que un mensaje ocupe todo el ancho disponible.

			// Estilos para mensajes del usuario actual
			&.current-user {
				background-color: $cor-primary; // Un ejemplo de color para el usuario actual
				color: white;
				margin-left: auto; // Alinea el mensaje a la derecha
				margin-right: 0;
			}

			// Estilos para mensajes de otros usuarios
			&.other-user {
				background-color: #E0E0E0; // Un ejemplo de color para otros usuarios
				color: black;
				margin-right: auto; // Alinea el mensaje a la izquierda
				margin-left: 0;
			}
		}
	}
}



.img-container {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	.user-img {
		position: relative; // Necesario para que z-index funcione
		margin-left: -15px;
		border: 2px solid $cor-beige;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		object-fit: cover;

		&:nth-child(n) {
			z-index: calc(100 - n); // Aquí 'n' es un placeholder, necesitas ajustar esto en tu JSX
		}
	}
}

.tooltip {
	font-size: 0.875rem;

	.tooltip-inner {
		background-color: #555;
		color: #fff;
	}

	.arrow::before {
		border-top-color: #555;
	}
}

.img-solapada {
	position: relative;
	top: -160px; // Ajusta este valor según la cantidad de solapamiento que necesites
	z-index: 10; // Asegura que la imagen se muestre sobre otros elementos si es necesario
}

¡ .member-container {
	// display: flex;
	// flex-direction: column; /* Organiza los elementos en una columna */
	// align-items: center; /* Centra los elementos horizontalmente */
	margin: 10px;
	/* Añade margen alrededor de la tarjeta si es necesario */
}

.member-card {
	width: 100%;
	/* Asegura consistencia en el ancho de la imagen */
	height: 300px;
	/* Altura fija para la imagen de fondo */
	background-size: cover;
	/* Asegura que la imagen cubra completamente el div */
	background-position: center;
	/* Centra la imagen de fondo */
	border-radius: 10px;
	/* Esquinas redondeadas para la parte superior */
	margin-bottom: 10px;
	/* Espacio entre la imagen y el nombre */
}

.member-name {
	width: calc(100% - 20px);
	/* Ajusta el ancho según sea necesario, considerando el padding */
	text-align: center;
	/* Centra el texto dentro del botón */
	/* No olvides tus estilos personalizados para btn y btn-outline-primary si es necesario */
}